.chart-container {
  margin-top: 60px;
}
.chart-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
.chart-title {
  color: #1a90ff;
  font-size: 25px;
}
.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.price-change,
.current-price {
  font-weight: bold;
  font-size: 18px;
}